body {
	margin: auto;
	padding-top: 20px;
	text-align: center;
	font-family: "Trebuchet MS", sans-serif;
	width: 810px;
}



header {
	background-color: #9a2424;
	padding: 20px;
	padding-left: 115px;
	margin: auto;
	text-align: left;
	font-size: 3em;
	color: white;
	border-radius: 10px;
}

header img {
	position: relative;
	overflow: auto;
}

main {
	text-align: left;
	padding: 10px;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1 {
	font-family: 'Hammersmith One', sans-serif;
	font-size: 1.5em;
	margin: auto;
}

#datemodified {
	color: yellow;
}

footer a {
  color: white;
}

footer {
	background-color: #9a2424;
	padding: 20px;
	margin: auto;
	text-align: center;
	border-radius: 10px;
	font-size: 1em;
	color: white;
}